---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "openmetrics-accelerator-lab.fullname" . }}-provisioning-dashboard
  labels:
    {{- include "openmetrics-accelerator-lab.labels" . | nindent 4 }}
    app.kubernetes.io/component: grafana
data:
  dashboards.yaml: |
    apiVersion: 1

    providers:
      - name: 'Accelerator Dashboards'
        orgId: 1
        folder: ''
        type: file
        disableDeletion: false
        updateIntervalSeconds: 10
        options:
          path: /etc/grafana/dashboards
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "openmetrics-accelerator-lab.fullname" . }}-provisioning-datasource
  labels:
    {{- include "openmetrics-accelerator-lab.labels" . | nindent 4 }}
    app.kubernetes.io/component: grafana
data:
  datasource.yaml: |
    apiVersion: 1

    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        orgId: 1
        url: http://{{ include "openmetrics-accelerator-lab.fullname" . }}-prometheus
        isDefault: true
        editable: false